<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781570002100-qtvms1p8iidtka2tqbvunrponi7b4h5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781570002100-qtvms1p8iidtka2tqbvunrponi7b4h5g</string>
	<key>API_KEY</key>
	<string>AIzaSyA36DwgkG6kZbt7tv9gF-iFQFRvWhWNOPk</string>
	<key>GCM_SENDER_ID</key>
	<string>781570002100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.nomad</string>
	<key>PROJECT_ID</key>
	<string>nomad-652d1</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-652d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781570002100:ios:9207f7d3ce6a45b2535be1</string>
</dict>
</plist>